body {
  background: #F5F5F0;
  color: black;
  font-family: Monaco;
}

.list-movies-title {
  padding: 10px 0;
  background: #009B50;
  color: white;
  text-align: center;
  font-size: 16pt;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow movies to wrap to the next line */
  justify-content: center;
}

.movie-grid li {
  flex: 0 0 140px; /* Set a fixed width for each movie */
  padding: 10px 15px;
  text-align: center; /* Center movie text */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.movie-title,
.movie-year {
  font-size: 0.8em;
}

.movie-title {
  margin-top: 10px;
}

.movie-year {
  color: #999;
}

.movie-poster {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 128px;
  height: 193px;
  margin: 0 auto; /* Center movie poster horizontally */
}
